<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyb.authority.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.cyb.authority.domain.UserRole">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>

  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from user_role where user_id = #{userId,jdbcType=VARCHAR}
  </select>

</mapper>